<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<label for="name">Username: </label>
<a th:text="${user.getUsername()}" id="name">VALUE</a>
<br/>
<label for="email">Email: </label>
<a th:text="${user.getEmail()}" id="email">VALUE</a>
<br/>
<label for="roles">Roles: </label>
<a th:text="${user.getRoles()}" id="roles">VALUE</a>
<br/>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>